DJANGO_SECRET_KEY=CHANGEME
DJANGO_DEBUG=true
POSTGRES_NAME=rn24
POSTGRES_USER=rn24
POSTGRES_PASSWORD=CHANGEME
POSTGRES_HOST=db
DATABASE_URL=postgis://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_NAME}?sslmode=disable
ALLOWED_HOST=localhost
AGESCI_HOSTNAME=CHANGEME
AGESCI_SECRET=CHANGEME
AGESCI_KEY=CHANGEME
SILK_ENABLED=false
SENTRY_DSN=CHANGEME
SENTRY_ENVIRONMENT=CHANGEME
# Può essere omesso, in questo caso farà il redirect sulla root del dominio dove gira il BE
RN24_FRONTEND_URL=
EMAIL_HOST=CHANGEME
EMAIL_PORT=CHANGEME
EMAIL_HOST_USER=CHANGEME
EMAIL_HOST_PASSWORD=CHANGEME
EMAIL_USE_TLS=CHANGEME
EMAIL_USE_SSL=CHANGEME
DEFAULT_FROM_EMAIL=CHANGEME
