# we are using pip-tools to manage our dependencies
# https://pypi.org/project/pip-tools/
django
ipdb
psycopg[binary]
django-extensions
gunicorn
sentry-sdk[django]
django-anymail[mailgun]
black
pre-commit
pip-tools
django-linear-migrations
dj-database-url
Faker
djangorestframework
djangorestframework-gis
drf-spectacular[sidecar]
wagtail
wagtail-factories
django-cors-headers
pytest
pytest-django
factory_boy
requests-mock
tqdm
django-silk
pycryptodome
qrcode
