{# extends "cms/base.html" #}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date }}</p>

<div class="intro">{{ page.intro }}</div>

{{ page.body|richtext }}

<p>torna a: <a href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a></p>

<h2>Pagine figlie:</h2>
<ul>
    {% for post in page.get_children %}
    <li><a href="{% pageurl post %}">{{ post.title }}</a></li>
    {% endfor %}

</ul>
{% endblock %}
